html, body {
  margin: 0;
  height: 100%;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.grid {
  stroke: lightgrey;
  stroke-opacity: 0.1;

}


.axis line{
  stroke: lightgrey;
  opacity: 0.3;
}

.axis path{
  stroke: red;
  opacity: 0;
}

.axis text{
  fill: red;
  font: 20px sans-serif;
}

.text{
  font: 20px sans-serif;
}
